{% extends "homebase.html" %} #burada diyorum ki ben bu sayfada homebase bağlı çalışacağım

{% block title %} {{ content.title }} {% endblock %}  #title olan bloğa bunu yaz
{% block keywords %} {{ content.keywords }} {% endblock %}
{% block description %} {{ content.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type="image/x-icon"  href="{{setting.icon.url}}" />
{% endblock %}

{% block content %}
        <!-- BREADCRUMB -->
        <div id="breadcrumb" class="hoc clear">

           <ul>
               <li><a href="/">Anasayfa</a></li>
               <li><a class="active">{{ content.title }} </a></li>
            </ul>

          </div>

        <!-- /BREADCRUMB-->

        <!--section -->
      <div class="wrapper row3">
        <main class="hoc container clear">
          <div class="content">
              <h1> {{ content.title }}</h1>

              <img src="{{ content.image.url }}" alt="" style="height: 300px">

      <p>{{ content.description }}</p>

      <p>{{ content.detail | safe }}</p>

       <br><br><br>
              <div class="hoc clear">
                  <figure id="introblocks">
                      <ul class="nospace group">
                          <li class="one_third first"><a href="#"><img src="{{ content.image.url }}" alt="" style="height: 200px"></a></li>
                          {% for rs in images %} <!-- İçerik resim galerisi-->
                          <li class="one_third"><a href="#"><img src="{{ rs.image.url }}" alt="" style="height: 200px"></a></li>
                          {% endfor %}

                      </ul>
                  </figure>
              </div>


            <!-- yorum vs eklenecek-->
     <div id="comments">
        <h2>Comments</h2>
        <ul>
            {% for rs in comments %}
               <li>
                <article>
                  <header>
                    <figure class="avatar"><i class="fa fa-user-o"></i></figure>
                    <address>
                    By <a href="#"><b>{{ rs.user }}</b></a>
                    </address>
                    <time datetime="2045-04-06T08:15+00:00">{{ rs.create_at }}</time>
                  </header>
                  <div class="comcont">
                      <b> {{rs.subject}} </b>
                      <br>
                        {{rs.comment}}
                  </div>
                </article>
               </li>
           {% endfor %}
            <li>
            <article>

            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{message.tags}}" role="alert" >
                    <p> {{ message }} </p>
                  </div>
                {% endfor %}
            {% endif %}

            </article>
          </li>


        </ul>

        <h2>Write A Comment</h2>
        <form action="/content/addcomment/{{content.id}}" method="post">
            {% csrf_token %}
          <div class="one_third first">
            <label for="id_subject">Subject <span>*</span></label>
            <input type="text" name="subject" id="id_subject" placeholder="Subject" value="" size="22" required>
          </div>

          <div class="block clear">
            <label for="id_comment">Your Comment</label>
            <textarea name="comment" id="id_comment" cols="25" rows="10" placeholder="Your review"></textarea>
          </div>
          <div>
           {% if user.id is not None %}
            <input type="submit" name="submit" value="Submit Form">
           {% else %}
              Yorum Eklemek için  <a href="/login"> Login </a>  olunuz!
           {% endif %}
          </div>
        </form>
      </div>

        </main>

        </div>
        <!--section -->
{% endblock %}
