{% load static %}
<!--<div class="wrapper">
  <div class="hoc clear">
    <hr class="btmspace-80">
    <figure id="introblocks">
      <ul class="nospace group">
        <li class="one_third first"><a href="#"><img src="{%static 'images/demo/320x240.png' %}" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="{%static 'images/demo/320x240.png' %}" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="{%static 'images/demo/320x240.png' %}" alt=""></a></li>
      </ul>
    </figure>
    <p class="center"><a class="btn" href="#">Per conubia nostra</a></p>

  </div>
</div>-->

<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <h6 class="heading" ><b>Etkinlikler</b></h6>
    <hr class="btmspace-80">

    <ul class="nospace group overview">
       {% for rs in activitydata %}
      <li class="one_third">
        <article><a href="/contents_detail/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" style="height: 200px"></a>
          <h6 class="heading">{{ rs.title }}</h6>
             <ul class="nospace meta">
            <li><i class="fa fa-user"></i> <a href="#"> {{ rs.category }}</a></li>
          </ul>
          <p>{{ rs.description }}</p>
        <footer class="nospace"><a class="btn" href="/contents_detail/{{ rs.id }}/{{ rs.slug }}">Devamı.. &raquo;</a></footer>
        </article>
      </li>
      {% endfor %}
    </ul>


    <br><br><br>
     <h6 class="heading"><b>Duyurular</b></h6>
       <hr class="btmspace-80">
    <ul class="nospace group overview">
       {% for rs in announcementdata %}
      <li class="one_third">
        <article><a href="/content/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" style="height: 200px"></a>
          <h6 class="heading">{{ rs.title }}</h6>
          <ul class="nospace meta">
            <li><i class="fa fa-user"></i> <a href="#">{{ rs.type }}</a></li>
          </ul>
          <p>{{ rs.description }}</p>
          <footer class="nospace"><a class="btn" href="/content/{{ rs.id }}/{{ rs.slug }}">Devamı.. &raquo;</a></footer>
        </article>
      </li>
      {% endfor %}
    </ul>


    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<!--<div class="wrapper bgded overlay coloured" style="background-image:url('{%static 'images/demo/backgrounds/02.png' %}');">
  <article class="hoc cta clear">
    <h6 class="three_quarter first">Quis orci neque praesent posuere venenatis tempor</h6>
    <footer class="one_quarter"><a class="btn" href="#">Mauris sit rhoncus &raquo;</a></footer>
  </article>
</div>-->