{% extends "homebase.html" %} #burada diyorum ki ben bu sayfada homebase bağlı çalışacağım

{% block title %} Hakkımızda-{{ setting.company }} {% endblock %}  #title olan bloğa bunu yaz
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}


{% block content %}
        <!-- BREADCRUMB -->
         <div id="breadcrumb" class="hoc clear">

           <ul>
              <li><a href="/">Anasayfa</a></li>
              <li class="active">Hakkımızda</li>
            </ul>

          </div>
        </div>
        <!-- /BREADCRUMB-->

        <!--section -->
      <div class="wrapper row3">
        <main class="hoc container clear">

              {{ setting.aboutus|safe }}   <!-- safe yazmazsak html kodlarıyla getirir -->
        </main>

        </div>
        <!--section -->
{% endblock %}
