 {% load static %}
<header>
  <div class="container_12">
    <div class="grid_12">
         <img src="{%static 'images/hkd.png' %}" >

      <div class="menu_block">

        <nav>
          <ul class="sf-menu">
            <li class="current"><a href="index.html">Anasayfa</a></li>
            <li class="with_ul"><a href="">Kategoriler</a>
              <ul>
                <li><a href="#">Kedi</a></li>
                <li><a href="#">Köpek</a></li>
                <li><a href="#">Kuş</a></li>
                <li><a href="#">Tavşan</a></li>
                <li><a href="#">Balık</a></li>
                <li><a href="#">Yılan</a></li>

              </ul>
            </li>
            <li><a href="about-us.html">Hakkımızda</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacts.html">İletişim </a></li>
          </ul>

        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <h1><span> Hayvanları Koruma Derneği</span></h1>
    </div>
  </div>

</header>