{% load static %}


  <div class="wrapper row1">

    <header id="header" class="hoc clear">

      <div class="wrapper row1">
              <script>      //otomatik arama oluşturmak için bunu yapıyoruz.
                  $(function() {
                    $("#query").autocomplete({
                      source: "/search_auto/",
                      select: function (event, ui) { //item selected
                        AutoCompleteSelectHandler(event, ui)
                      },
                      minLength: 2,
                    });
                  });

                  function AutoCompleteSelectHandler(event, ui)
                  {
                    var selectedObj = ui.item;
                  }

               </script>
             <br><br>

           <div class="group demo">

              <div class="one_half first">
                 <form class="example" action="/search/" method="post">
                        {% csrf_token %} <!-- formlarda kullanmak zorunlu-->
                            <input type="text" placeholder="Search.." name="query" id="query"> <!--burada tanımladığım id olan queryi yukarıda functionsta çağırdım-->
                 </form>
             </div>
                <div class="one_half" style="margin-left:900px">
                  <!-- Account -->
                 {% if user.id is not None %}
                   <i class="fa fa-user-o"></i>
                   <strong class=""><a href="/user"> {{ user.first_name }} </a></strong>/ <strong class=""><a href="logout">Logout</a> </strong><br>
                 {% else %}
                    <a href="/login/">Login</a>/<a href="/signup/">Sign Up</a>
                 {% endif %}

           </li>
            <!-- Account -->
                </div>
                           <img src="{%static 'images/home-p2.jpg' %}" >

          </div>
        </div>
        <br>

      <div id="logo" class="fl_left">
        <h1><a href="/">HACHIKO</a></h1>
      </div>

      <nav id="mainav" class="fl_right">

        <ul class="clear">
          <li class="active"><a href="/">Anasayfa</a></li>
          <li><a href="/hakkimizda">Hakkımızda</a></li>

          {% load mptt_tags %}
          {% recursetree menu %}
          <li><a class="drop" href="/menu/{{ node.id }}" {% if not node.is_leaf_node %} aria-expanded="true"   {% endif %} > {{ node.title }}</a>
               {% if not node.is_leaf_node %}
               <ul class="children">
                 <li><a href="#">{{ children }}</a></li>
               </ul>
               {% endif %}
          </li>
          {% endrecursetree %}

          <li><a href="/referanslar">Referanslarımız</a></li>
          <li><a href="/iletisim">İletişim</a></li>


        </ul>

      </nav>


    </header>

  </div>
