<!DOCTYPE html>

<html lang="en">

<head>
 {% load static %}
    <title>{% block title %} Hayvanları Koruma Derneği {% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}" Anasayfa anahtar kelimeler {% endblock %} >
    <meta name="description" content="{% block description %}" Anasayfa kısa açıklamalar {% endblock %} >
<meta charset="utf-8">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{%static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">


</head>


<body id="top">

    {% include 'header.html' %}
    {% block slider %} {% endblock %}
    {% block sidebar %} {% endblock %}
    {% block content %} {% endblock %}
    {% block body %} {% endblock %}
    {% include 'footer.html' %}
    {% block footer %} {% endblock %}

</div>

    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{%static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{%static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{%static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
<script src="{%static 'layout/scripts/jquery.flexslider-min.js' %}"></script>
</body>



</html>