{% extends "homebase.html" %} #burada diyorum ki ben bu sayfada homebase bağlı çalışacağım

{% block title %} Referanslarımız-{{ setting.company }} {% endblock %}  #title olan bloğa bunu yaz
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type="image/x-icon"  href="{{setting.icon.url}}" />
{% endblock %}



{% block sidebar %} {% include "sidebar.html" %} {% endblock %}

{% block content %}
        <!-- BREADCRUMB -->
        <div id="breadcrumb">
          <div class="container">
            <ul class="breadcrumb">
              <li><a href="/">Anasayfa</a></li>
              <li class="active">Referanslarımız</li>
            </ul>

          </div>
        </div>
        <!-- /BREADCRUMB-->

        <!--section -->
        <div class="section">
          <!-- container -->
          <div class="container">
            <!-- row -->
            <div class="row">
              {{ setting.references|safe }}   <!-- safe yazmazsak html kodlarıyla getirir -->
            </div>s
            <!-- /row -->
          </div>
           <!-- /container -->
        </div>
        <!--section -->
{% endblock %}
