 <!--{% load static %}
  <div class="grid_5 prefix_1">
<h2 class="ic1">Categories</h2>
      <ul class="list1">
        <li> <span></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Tuis posuere consectetur pellente</a></div>
          </div>
        </li>
        <li> <span class="cnt"></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Juuis posuere consectetur pellente</a></div>
          </div>
        </li>
        <li> <span></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Dpuis posuere honsectetur pellentio</a></div>
          </div>
        </li>
        <li> <span class="cnt"></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Kouis losuere honsectetur pellentit</a></div>
          </div>
        </li>
        <li> <span ></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Opuis posuere monsectetur pellentlo</a></div>
          </div>
        </li>
        <li> <span class="cnt"></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Jupuis posuere loonsectetur kellen</a></div>
          </div>
        </li>
        <li> <span class=""></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Kiloiy posuere onsectrytr koelltlo</a></div>
          </div>
        </li>
        <li> <span class="cnt"></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Derfis posuere sectetur golillentlo</a></div>
          </div>
        </li>
        <li> <span class=""></span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Hokipuis koloosue jolonsectetur holo</a></div>
          </div>
        </li>
      </ul>
  </div>-->

  {% load static %}
<div class="top_block">
    <div class="grid_5 prefix_1">
        <h2 class="ic1">Kategoriler</h2>
<hr />
<div id="menu">
  <ul>
    <li><a href="">CSS Templates</a></li>
    <li><a href="">CSS Layouts</a></li>
    <li><a href="">CSS Books</a></li>
    <li><a href="">CSS Menus</a></li>
    <li><a href="">CSS Tutorials</a></li>
    <li><a href="">CSS Reference</a></li>
    <li><a rel="nofollow" target="_blank" href="http://www.exploding-boy.com/" title="explodingboy">explodingboy</a></li>
  </ul>
</div>
 </div>
    </div>
