{% extends "homebase.html" %} #burada diyorum ki ben bu sayfada homebase bağlı çalışacağım

{% block title %} Kayıt Ol {% endblock %}  #title olan bloğa bunu yaz
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type="image/x-icon"  href="{{setting.icon.url}}" />
{% endblock %}



{% block content %}
        <!-- BREADCRUMB -->
         <div id="breadcrumb" class="hoc clear">

           <ul>
              <li><a href="/">Anasayfa</a></li>
               <li><a class="active">Kullanıcı Kayıt Ol</a></li>
            </ul>

          </div>
        </div>
        <!-- /BREADCRUMB-->

        <!--section -->
           <div class="wrapper row1">
        <main class="hoc container clear">
             <div class="one_quarter">
                  <h6 class="heading">Kayıt Ol Formu</h6>

                  {% if messages %}  <!--sistem mesajları böyle kullanılır eğer bir mesaj varsa mesajın türüne göre ekrana yazıyor-->
                     {% for message in messages %}
                         <div class="alert alert-{{message.tags}}" role="alert">  <!--otomatik olarak css oluşturuyor-->
                             {{ message }}
                         </div>
                     {% endfor %}
                  {% endif %}

                 <form method="post">
                     {% csrf_token %}
                     {% for field in form %}
                         <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red"> {{ error }}</p>
                            {% endfor %}
                          </p>
                     {% endfor %}
                     <button type="submit">Kayıt Ol</button>
                 </form>


             </div>

        </main>
        </div>
        <!--section -->
{% endblock %}
