{% load static %}
<div class="bgded overlay light" >
 <div id="pageintro" class="hoc clear">
    <div class="flexslider basicslider">
      <ul class="slides">

        <!--banner-->
        {% for rs in sliderdata %} <!--rs=record set yani satır-->
        <li>
         <article>
            <img src="{{ rs.image.url }} " alt="">
            <p>{{ rs.title }}</p>
          </article>
        </li>
        {% endfor %}
         <!--/banner-->

         <!--Artık dinamik yaptığımız için diğerlerini siliyoruz-->
      </ul>

    </div>
  </div>
</div>