{% extends "homebase.html" %} #burada diyorum ki ben bu sayfada homebase bağlı çalışacağım

{% block title %} Şifre Değiştirme {% endblock %}  #title olan bloğa bunu yaz
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type="image/x-icon"  href="{{setting.icon.url}}" />
{% endblock %}



{% block content %}
        <!-- BREADCRUMB -->
         <div id="breadcrumb" class="hoc clear">

           <ul>
              <li><a href="/">Anasayfa</a></li>
               <li><a class="active">Şifre Değitirme</a></li>
            </ul>

          </div>
        </div>
        <!-- /BREADCRUMB-->

        <!--section -->
           <div class="wrapper row1">
        <main class="hoc container clear">
             <div class="one_quarter">
                  <h6 class="heading">Şifre Değitirme</h6>

                   {% if messages %}  <!--sistem mesajları böyle kullanılır eğer bir mesaj varsa mesajın türüne göre ekrana yazıyor-->
                     {% for message in messages %}
                         <div style="color:#d43f3a; font-size:medium">
                             {{ message|safe  }}  <!--Bu uyarılar html tagları içeiryor bu yüzden safe yazdık-->
                         </div>
                     {% endfor %}
                  {% endif %}

                   <form method="post">
                     {% csrf_token %}
                     {% for field in form %}
                         <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red"> {{ error }}</p>
                            {% endfor %}
                          </p>
                     {% endfor %}
                     <button type="submit">Değişiklikleri Kaydet</button>
                 </form>
             </div>
        </main>
        </div>
        <!--section -->
{% endblock %}
