{% extends "homebase.html" %} #burada diyorum ki ben bu sayfada homebase bağlı çalışacağım

{% block title %} {{ profile.user_name }} {% endblock %}  #title olan bloğa bunu yaz
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type="image/x-icon"  href="{{setting.icon.url}}" />
{% endblock %}



{% block content %}
        <!-- BREADCRUMB -->
         <div id="breadcrumb" class="hoc clear">

           <ul>
              <li><a href="/">Anasayfa</a></li>
               <li><a class="active">Kullanıcı Profil Güncelleme</a></li>
            </ul>

          </div>
        </div>
        <!-- /BREADCRUMB-->

        <!--section -->
           <div class="wrapper row3">
             <main class="hoc container clear">
                 <div class="one_quarter">
                      {% include "user_panel.html" %}
                 </div>
                 <div class="two_quarter">
                     <h6 class="heading">Kullanıcı Bilgileri</h6>
                     <div class="media">
                         <img src="{{ user.userprofile.image.url }}" style="height:150px, border-radius:45px">
                     </div>
                     <form method="POST" enctype="multipart/form-data">
                         {% csrf_token %}
                            <fieldset class="from-group">
                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info">Güncelle</button>
                            </div>
                     </form>
                 </div>
            </main>
        </div>
        <!--section -->
{% endblock %}
